<%= stylesheet_link_tag "views/registration", :media => "all" %>

<%
  member = nil
  if params[:member]
    member = User.find(params[:member])
  end
%>

<h2>New meetup
  <% if member %>
    with <%= facebook_image_link(member, 'square', 40) %>
  <% end %>
</h2>

<%= render 'form_new' %>

<%= link_to 'Back', meetups_path %>
