/* registration.css */

#registration {
	width: 850px;
	margin: 0 auto
}
#registration p {
	margin-bottom: 10px;
}

#registration table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#registration table th {
	padding: 10px;
	min-height: 16px;
	background-color: #eeeeee;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	vertical-align: top;
}
#registration table td {
	padding: 10px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
#registration table td dl dt {
	margin-bottom: 5px;
	font-weight: bold;
}
#registration table td dl dd {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #cccccc;
}
#registration table td ul {
	margin-top: -10px;
}
#registration table td ul li {
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	padding-bottom: 5px;
	/*border-bottom: 1px dotted #cccccc;*/
}
#registration table td ul select {
	margin: 0 5px;
}

.tagList li {
	float: left;
	margin-right: 10px;
	background-color: #ff5a00;
    border-radius: 5px;
    padding: 2px 5px 2px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 80%;
	vertical-align: baseline;
    white-space: nowrap;
}

/* clearfix */
.tagList,
#registration table td ul {
	zoom: 1;
}

.tagList:after,
#registration table td ul:after {
    content: ""; 
    display: block; 
    clear: both;}