/* local.css */

#findLocal {
	width: 850px;
	margin: 0 auto;
}

.interest {
	float: left;
	margin-top: -5px;	
	margin-left: 55px;
	font-size: 10px;
}
.interest dd {
	font-size: 14px;
}
.interest .btn3 {
	width: 160px;
}


.interest .btn3{
	display: inline-block;
	padding: 5px 15px 5px 35px;
	background: #ffcc6b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(/assets/heart.png) no-repeat 42px 50%, -moz-linear-gradient(top, #ffcc6b 0%, #ffcc6b 50%, #ff942f 51%, #ff942f 100%); /* FF3.6+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc6b), color-stop(50%,#ffcc6b), color-stop(51%,#ff942f), color-stop(100%,#ff942f)); /* Chrome,Safari4+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, -webkit-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* Chrome10+,Safari5.1+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, -o-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* Opera 11.10+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, -ms-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* IE10+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc6b', endColorstr='#ff942f',GradientType=0 ); /* IE6-8 */
	border:1px solid #f37813;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight:bold;
	text-align: center;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	-ms-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
	zoom: 1;
}
.interest .btn3:hover {
	background: #ff942f; /* Old browsers */
	background: url(/assets/heart.png) no-repeat 42px 50%, -moz-linear-gradient(top, #ff942f 0%, #ff942f 50%, #ffcc6b 51%, #ffcc6b 100%); /* FF3.6+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff942f), color-stop(50%,#ff942f), color-stop(51%,#ffcc6b), color-stop(100%,#ffcc6b)); /* Chrome,Safari4+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, -webkit-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* Chrome10+,Safari5.1+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, -o-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* Opera 11.10+ */
	background: url(/assets/heart.png) no-repeat 42px 50%, linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff942f', endColorstr='#ffcc6b',GradientType=0 ); /* IE6-8 */
	text-decoration: none;
	border: 1px solid #ff942f;
	-webkit-box-shadow: 1px 1px 1px #666666;
	-moz-box-shadow: 1px 1px 1px #666666;
	-ms-box-shadow: 1px 1px 1px #666666;
	box-shadow: 1px 1px 1px #666666;
}

.findPeopleArea {
	position: relative;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 15px;
	-webkit-box-shadow: 1px 1px 2px #cccccc;
	-moz-box-shadow: 1px 1px 2px #cccccc;
	-ms-box-shadow: 1px 1px 2px #cccccc;
	box-shadow: 1px 1px 2px #cccccc;
}
.findPeopleArea .imgArea {
	float: left;
	padding: 5px;
	margin-bottom: 15px;
	border: 2px solid #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px #cccccc;
	-moz-box-shadow: 1px 1px 2px #cccccc;
	-ms-box-shadow: 1px 1px 2px #cccccc;
	box-shadow: 1px 1px 2px #cccccc;
	text-align: center;
}
.findPeopleArea .detailArea {
	float: right;
	width: 630px;
}
.findPeopleArea .btnArea {
}
.detailArea .cotegory1 dt {
	float: left;
	font-weight: bold;
}
.detailArea .cotegory1 dd {
	margin-bottom: 5px;
	padding-left: 3em;
}
.detailArea .cotegory2 dt{
	float: left;
	margin-right: 10px;
	font-weight: bold;
}
.detailArea .cotegory2 dd {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: #ff5a00;
    border-radius: 5px;
    padding: 2px 5px 2px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 80%;
	vertical-align: baseline;
    white-space: nowrap;
}
.detailArea .cotegory3 dt {
	float: left;
	font-weight: bold;
}
.detailArea .cotegory3 dd {
	margin-bottom: 5px;
	padding-left: 6em;
}
.detailArea .arrowBoxL {
	margin-left: 0;
	margin-bottom: 10px;
}
.detailArea h3 {
	margin-bottom: 5px;
	border-bottom: 1px dotted #cccccc;
}

/* clearfix */

.findPeopleArea,
.detailArea .cotegory2 {
	zoom: 1;
}

.findPeopleArea:after,
.detailArea .cotegory2:after {
    content: ""; 
    display: block; 
    clear: both;}
