<%= form_for([@meetup, @meetup.meetup_comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, :size => "30x5", placeholder: t("meetup_comment.new.placeholder") %>
  </div>
  <div class="actions">
    <%= f.submit t("general.send"), class: "btn3"  %>
  </div>
<% end %>
