<%= form_for([@meetup, @meetup.meetup_comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, :size => "30x5" %>
  </div>
  <div class="actions">
    <%= f.submit "post" %>
  </div>
<% end %>
