<p>
  <b>Commenter:</b>
  <%= meetup_comment.user.name %>
</p>

<p>
  <b>Comment:</b>
  <%= meetup_comment.body %>
</p>

<p>
  <%= link_to 'Delete Comment', [meetup_comment.meetup, meetup_comment], :confirm => 'Are you sure?', :method => :delete %>
</p>

