<%= stylesheet_link_tag "views/registration", :media => "all" %>

<!-- breadcrumb -->
<nav id="breadcrumb">
<p><a href="/" rel="index">TOP</a> > Registration</p>
</nav>
<!-- /breadcrumb -->

<h2>Editing profile</h2>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
