<h1>Editing user_review</h1>

<%= render 'form' %>

<%= link_to 'Show', user_review_path(user_id: @reviewed_user.id, id: @user_review.id) %> |
<%= link_to 'Back', user_reviews_path(user_id: @reviewed_user.id) %>
