/* base.css */

body {
   background-color: #FFFFFF;
   color: #666666;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   line-height: 18px;
   margin: 0;
}
a {
   color: #0088CC;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
h1 {
   font-size: 30px;
   line-height: 36px;
}
h2 {
	margin-bottom: 20px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #cccccc;
	font-size: 24px;
	line-height: 28px;
}
h3 {
   font-size: 18px;
   line-height: 27px;
}
h4 {
   font-size: 14px;
   line-height: 18px;
}
li {
       list-style:none;
}

.textL {
       text-align: left;
}
.textR {
       text-align: right;
}
.textC {
       text-align: center;
}
.bold {
       font-weight: bold;
}

.borderB {
       border-bottom: 1px solid #cccccc;
}

.w220 {
       width: 220px;
}
.w370 {
       width: 370px;
}
.w375 {
       width: 375px;
}
.w470 {
       width: 470px;
}
.w475 {
       width: 475px;
}
.w480 {
       width: 480px;
}
.w490 {
       width: 490px;
}
.w560 {
       width: 560px;
}
.w585 {
       width: 585px;
}
.w590 {
       width: 590px;
}
.w600 {
       width: 600px;
}
.w605 {
       width: 605px;
}
.w660 {
       width: 660px;
}
.w740 {
       width: 740px;
}
.mt10 {
       margin-top: 10px;
}
.mt20 {
       margin-top: 20px;
}
.mt30 {
       margin-top: 30px;
}
.mt40 {
       margin-top: 40px;
}
.mt50 {
       margin-top: 50px;
}
.mr10 {
       margin-right: 10px;
}
.mr20 {
       margin-right: 20px;
}
.mr30 {
       margin-right: 30px;
}
.mr40 {
       margin-right: 40px;
}
.mr50 {
       margin-right: 50px;
}
.mb10 {
       margin-bottom: 10px;
}
.mb20 {
       margin-bottom: 20px;
}
.mb30 {
       margin-bottom: 30px;
}
.mb40 {
       margin-bottom: 40px;
}
.mb50 {
       margin-bottom: 50px;
}
.ml10 {
       margin-left: 10px;
}
.ml20 {
       margin-left: 20px;
}
.ml30 {
       margin-left: 30px;
}
.ml40 {
       margin-left: 40px;
}
.ml50 {
       margin-left: 50px;
}
.pt10 {
       padding-top: 10px;
}
.pt20 {
       padding-top: 20px;
}
.pt30 {
       padding-top: 30px;
}
.pt40 {
       padding-top: 40px;
}
.pt50 {
       padding-top: 50px;
}
.pr10 {
       padding-right: 10px;
}
.pr20 {
       padding-right: 20px;
}
.pr30 {
       padding-right: 30px;
}
.pr40 {
       padding-right: 40px;
}
.pr50 {
       padding-right: 50px;
}
.pb10 {
       padding-bottom: 10px;
}
.pb20 {
       padding-bottom: 20px;
}
.pb30 {
       padding-bottom: 30px;
}
.pb40 {
       padding-bottom: 40px;
}
.pb50 {
       padding-bottom: 50px;
}
.pl10 {
       padding-left: 10px;
}
.pl20 {
       padding-left: 20px;
}
.pl30 {
       padding-left: 30px;
}
.pl40 {
       padding-left: 40px;
}
.pl50 {
       padding-left: 50px;
}
.pd5 {
       padding: 5px;
}
.pd10 {
       padding: 10px;
}
.pd20 {
       padding: 20px;
}
.pd30 {
       padding: 30px;
}
.pd40 {
       padding: 40px;
}
.pd50 {
       padding: 50px;
}

.notes {
	color: #aaaaaa;
	font-size: 90%;
}


.btn1{
	display: inline-block;
	padding: 5px 25px 5px 25px;
	background: #b7db81; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3ZGI4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2I3ZGI4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzk1YzAzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NWMwMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #b7db81 0%, #b7db81 50%, #95c033 51%, #95c033 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7db81), color-stop(50%,#b7db81), color-stop(51%,#95c033), color-stop(100%,#95c033)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b7db81 0%,#b7db81 50%,#95c033 51%,#95c033 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b7db81 0%,#b7db81 50%,#95c033 51%,#95c033 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b7db81 0%,#b7db81 50%,#95c033 51%,#95c033 100%); /* IE10+ */
	background: linear-gradient(top, #b7db81 0%,#b7db81 50%,#95c033 51%,#95c033 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7db81', endColorstr='#95c033',GradientType=0 ); /* IE6-8 */
	border:1px solid #8BAE42;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight:bold;
	font-size:12px;
	text-align: center;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	-ms-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
	zoom: 1;
}
.btn1:hover {
	background: #95c033; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1YzAzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzk1YzAzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I3ZGI4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2RiODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #95c033 0%, #95c033 50%, #b7db81 51%, #b7db81 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95c033), color-stop(50%,#95c033), color-stop(51%,#b7db81), color-stop(100%,#b7db81)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #95c033 0%,#95c033 50%,#b7db81 51%,#b7db81 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #95c033 0%,#95c033 50%,#b7db81 51%,#b7db81 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #95c033 0%,#95c033 50%,#b7db81 51%,#b7db81 100%); /* IE10+ */
	background: linear-gradient(top, #95c033 0%,#95c033 50%,#b7db81 51%,#b7db81 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95c033', endColorstr='#b7db81',GradientType=0 ); /* IE6-8 */
	border:1px solid #95C033;
	text-decoration: none;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	-ms-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
}
.btn2{
	display: inline-block;
	padding: 5px 25px 5px 25px;
	background: #ff5db1; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmNWRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VmMDA3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjAwN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ff5db1 0%, #ff5db1 50%, #ef007c 51%, #ef007c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5db1), color-stop(50%,#ff5db1), color-stop(51%,#ef007c), color-stop(100%,#ef007c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff5db1 0%,#ff5db1 50%,#ef007c 51%,#ef007c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff5db1 0%,#ff5db1 50%,#ef007c 51%,#ef007c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff5db1 0%,#ff5db1 50%,#ef007c 51%,#ef007c 100%); /* IE10+ */
	background: linear-gradient(top, #ff5db1 0%,#ff5db1 50%,#ef007c 51%,#ef007c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef007c',GradientType=0 ); /* IE6-8 */
	border:1px solid #ff2a98;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight:bold;
	text-align: center;
	-webkit-box-shadow: 1px 1px 1px #666666;
	-moz-box-shadow: 1px 1px 1px #666666;
	-ms-box-shadow: 1px 1px 1px #666666;
	box-shadow: 1px 1px 1px #666666;
	zoom: 1;
}
.btn2:hover {
	background: #ef007c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmMDA3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VmMDA3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmNWRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjVkYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef007c 0%, #ef007c 50%, #ff5db1 51%, #ff5db1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef007c), color-stop(50%,#ef007c), color-stop(51%,#ff5db1), color-stop(100%,#ff5db1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ef007c 0%,#ef007c 50%,#ff5db1 51%,#ff5db1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ef007c 0%,#ef007c 50%,#ff5db1 51%,#ff5db1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ef007c 0%,#ef007c 50%,#ff5db1 51%,#ff5db1 100%); /* IE10+ */
	background: linear-gradient(top, #ef007c 0%,#ef007c 50%,#ff5db1 51%,#ff5db1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef007c', endColorstr='#ff5db1',GradientType=0 ); /* IE6-8 */
	border:1px solid #FF5DB1;
	text-decoration: none;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	-ms-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
}
.btn3{
	display: inline-block;
	padding: 5px 25px 5px 25px;
	background: #ffcc6b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2M2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmY2M2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmOTQyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk0MmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffcc6b 0%, #ffcc6b 50%, #ff942f 51%, #ff942f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc6b), color-stop(50%,#ffcc6b), color-stop(51%,#ff942f), color-stop(100%,#ff942f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* IE10+ */
	background: linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc6b', endColorstr='#ff942f',GradientType=0 ); /* IE6-8 */
	border:1px solid #f37813;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight:bold;
	text-align: center;
	-webkit-box-shadow: 1px 1px 1px #666666;
	-moz-box-shadow: 1px 1px 1px #666666;
	-ms-box-shadow: 1px 1px 1px #666666;
	box-shadow: 1px 1px 1px #666666;
	zoom: 1;
}
.btn3:hover {
	background: #ff942f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTQyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmOTQyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmY2M2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ff942f 0%, #ff942f 50%, #ffcc6b 51%, #ffcc6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff942f), color-stop(50%,#ff942f), color-stop(51%,#ffcc6b), color-stop(100%,#ffcc6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* IE10+ */
	background: linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff942f', endColorstr='#ffcc6b',GradientType=0 ); /* IE6-8 */
	text-decoration: none;
	border: 1px solid #ff942f;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	-ms-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
}
.btn4{
	display: inline-block;
	padding: 5px 25px 5px 25px;
	background: #ffcc6b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2M2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmY2M2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmOTQyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk0MmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffcc6b 0%, #ffcc6b 50%, #ff942f 51%, #ff942f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc6b), color-stop(50%,#ffcc6b), color-stop(51%,#ff942f), color-stop(100%,#ff942f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* IE10+ */
	background: linear-gradient(top, #ffcc6b 0%,#ffcc6b 50%,#ff942f 51%,#ff942f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc6b', endColorstr='#ff942f',GradientType=0 ); /* IE6-8 */
	border:1px solid #f37813;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight:bold;
	text-align: center;
	-webkit-box-shadow: 1px 1px 1px #666666;
	-moz-box-shadow: 1px 1px 1px #666666;
	-ms-box-shadow: 1px 1px 1px #666666;
	box-shadow: 1px 1px 1px #666666;
	zoom: 1;
	font-size:12px;
	float:right;
}
.btn4:hover {
	background: #ff942f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTQyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmOTQyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmY2M2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmNjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ff942f 0%, #ff942f 50%, #ffcc6b 51%, #ffcc6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff942f), color-stop(50%,#ff942f), color-stop(51%,#ffcc6b), color-stop(100%,#ffcc6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* IE10+ */
	background: linear-gradient(top, #ff942f 0%,#ff942f 50%,#ffcc6b 51%,#ffcc6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff942f', endColorstr='#ffcc6b',GradientType=0 ); /* IE6-8 */
	text-decoration: none;
	border: 1px solid #ff942f;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	-ms-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
}

.box1 {
       position: relative;
       margin-bottom: 15px;
       /*padding: 10px;*/
       background: #ffffff;
       border: 1px solid #cccccc;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
       -webkit-box-shadow: 1px 1px 1px rgb(238, 238, 238);
       -moz-box-shadow: 1px 1px 1px rgb(238, 238, 238);
       -ms-box-shadow: 1px 1px 1px rgb(238, 238, 238);
       box-shadow: 1px 1px 1px rgb(238, 238, 238);
       filter: progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=135, strength=1);
       -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=135, strength=1)";
       zoom: 1;
}

.arrowBoxL {
       position: relative;
       margin-bottom: 15px;
       margin-left: 20px;
       padding: 10px;
       background: #ffffff;
       border: 1px solid #cccccc;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
       -webkit-box-shadow: 3px 3px 3px rgb(238, 238, 238);
       -moz-box-shadow: 3px 3px 3px rgb(238, 238, 238);
       -ms-box-shadow: 3px 3px 3px rgb(238, 238, 238);
       box-shadow: 3px 3px 3px rgb(238, 238, 238);
       filter: progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=135, strength=3);
       -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=135, strength=3)";
       zoom: 1;
}
.arrowBoxL:after,
.arrowBoxL:before {
       right: 100%;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
}

.arrowBoxL:after {
       border-right-color: #ffffff;
       border-width: 7px;
       top: 15px;
       margin-top: -7px;
}
.arrowBoxL:before {
       border-right-color: #cccccc;
       border-width: 8px;
       top: 15px;
       margin-top: -8px;
}
.arrowBoxR {
       position: relative;
       margin-bottom: 15px;
       margin-right: 20px;
       padding: 10px;
       background: #ffffff;
       border: 1px solid #cccccc;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
       -webkit-box-shadow: -3px 3px 3px rgb(238, 238, 238);
       -moz-box-shadow: -3px 3px 3px rgb(238, 238, 238);
       -ms-box-shadow: -3px 3px 3px rgb(238, 238, 238);
       box-shadow: -3px 3px 3px rgb(238, 238, 238);
       filter: progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=135, strength=3);
       -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=135, strength=3)";
       zoom: 1;
}
.arrowBoxR:after,
.arrowBoxR:before {
       left: 100%;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
}

.arrowBoxR:after {
       border-left-color: #ffffff;
       border-width: 7px;
       top: 15px;
       margin-top: -7px;
}
.arrowBoxR:before {
       border-left-color: #cccccc;
       border-width: 8px;
       top: 15px;
       margin-top: -8px;
}

input,
textarea {
	padding: 6px;
	border: solid 1px #E5E5E5;
	outline: 0;
	/*box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;*/
}

textarea {
	/*width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;*/
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border-color: #C9C9C9;
	/*-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;*/
}

.form label {
	margin-left: 10px;
}


.col2 {
}
.leftCol {
float:left;
}
.rightCol {
float:right;
}

.dlStyle1 {
}
.dlStyle1 dt {
       float: left;
       width: 10em;
}
.dlStyle1 dd {
       padding-left: 10em;
}
.dlStyle2 {
	margin-bottom: 20px;
}
.dlStyle2 dt {
       float: left;
       width: 7em;
	   margin-bottom: 5px;
	   margin-left: 5px;
	   font-weight: bold;
}
.dlStyle2 dd {
       padding-left: 7.5em;
	   margin-bottom: 5px;
	   padding-bottom: 5px;
	   border-bottom: 1px dotted #cccccc;
}
.dlStyle3 {
	margin-bottom: 0;
}
.dlStyle3 dt {
       float: left;
       width: 3em;
	   margin-bottom: 5px;
	   font-weight: bold;
}
.dlStyle3 dd {
       padding-left: 3.5em;
	   margin-bottom: 5px;
}

.ulStyle1 {
}
.ulStyle1 li {
	float: left;
	margin-right: 5px;
}

/* profile */
#profileImg {
	margin-bottom: 10px;
	padding-bottom: 3px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* icon */
.edit {
	display: inline-block;
	margin-bottom: 10px;
	padding: 2px 45px 2px 65px;
	background: #ffffff url(/assets/edit_on.png) no-repeat 40px 2px;
	min-height: 20px;
	color: #0f90ba;
	border: 1px solid #0f90ba;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: normal;
}
.edit:hover {
	background: #0f90ba url(/assets/edit.png) no-repeat 40px 2px;
	color: #ffffff;
	text-decoration: none;
}

.facebook {
	background: url(/assets/facebook.png) no-repeat 7px 3px;
}

.linkedin {
	background: url(/assets/linkedin.png) no-repeat 7px 3px;
}
.twitter {
	background: url(/assets/twitter.png) no-repeat 7px 3px;
}

.gplus {
	background: url(/assets/gplus.png) no-repeat 7px 3px;
}

.check {
	display: block;
	width: 20px;
	height: 22px;
	background: url(/assets/check.png) no-repeat 0 0;
}
.cross {
	display: block;
	width: 20px;
	height: 22px;
	background: url(/assets/cross.png) no-repeat 0 0;
}
.good {
	width: 20px;
	height: 22px;
	background: url(/assets/good.png) no-repeat 0 0;
}
.breakfast {
	padding-left: 23px;
	background: url(/assets/breakfast.png) no-repeat 0 0;
}
.lunch {
	padding-left: 23px;
	background: url(/assets/lunch.png) no-repeat 0 0;
}
.tea {
	padding-left: 23px;
	background: url(/assets/tea.png) no-repeat 1px 0;
}
.dinner {
	padding-left: 23px;
	background: url(/assets/dinner.png) no-repeat 0 0;
}




#localSearch {
	margin-bottom: 30px;
}
.findSearch {
	float: left;
}
.findSearch li {
	float: left;
}
.findSearch .textBox {
	height: 44px;
	margin: 0;
	padding: 0 10px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.findSearch .date {
	height: 44px;
	padding: 0 0 0 5px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	font-size: 12px;
}
.findSearch .time {
	height: 44px;
	padding: 0 5px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	font-size: 12px;
}
.findSearch .date input {
	padding: 4px;
}
.findSearch .searchBtn {
	height: 46px;
	margin: 0;
	padding-top: 13px;
	padding-bottom: 12px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	font-size: 14px;
	box-shadow: none;
}

/* meetup title */
h3.stream {
  font-size: 18px;
  line-height: 27px;
  color: #FF5A00;
  padding-left: 15px;
  margin-bottom: 5px;
}

/* clearfix */
.col2,
#topNavArea ul,
.dlStyle1,
.dlStyle2,
.dlStyle3,
.ulStyle1,
.localSearch {
zoom:1;
}
.col2:after,
#topNavArea ul:after,
.dlStyle1:after,
.dlStyle2:after,
.dlStyle3:after,
.ulStyle1:after,
.localSearch:after {
   content: "";
   display: block;
   clear: both;
}
.fontCR{
	color:#ff0000;
}
.top50{
	padding-top:50px;
}
.fontS{
	font-size:12px;
	color:#999;
}
