<div id="footerArea">
    <p id="copyright">Copyright &copy; Relicious 2012 all rights reserved.</p>
    <div id="footRight">
        <ul id="footNav">
            <li><a href="#">About US</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
